.header {

    @extend .container;

    text-align: center;
    padding-top: 80px;
    padding-bottom: 100px;

    @include e('logo') {
      width: 180px;
    }

    @include e('title') {
      font-family: $sans-serif-font;
      font-size: $font-size-xl;
    }

    @include e('uvp') {
      font-family: $serif-font;
      font-size: $font-size-l;
      line-height: 1.7;
    }

    @include e('form') {
      @extend .col-sm-6;
      @extend .col-sm-offset-3;

      margin-top: 20px;
    }
}
