.how {

    @extend .container;
    padding-top: 100px;
    padding-bottom: 100px;


    @include e('title') {
      font-size: $font-size-xl;
      font-family: $sans-serif-font;
      text-align: center;
    }

    @include e('separator') {
      text-align: center;
    }

    @include e('list') {
      @extend .col-sm-8;
      @extend .col-sm-offset-2;
      font-family: $serif-font;
      font-size: $font-size-m;
      text-align: center;
      list-style-type: none;
    }

    @include e('list-item') {
      margin-top: 20px;
    }

}
