$primary-color: #55C4F5;
$secondary-color: #2E8CB5;
$sans-serif-font: 'Open Sans Condensed', sans-serif;
$serif-font: 'Lora', serif;

$font-size-xl: 4.8rem;
$font-size-l: 2.6rem;
$font-size-m: 2.4rem;

// Bootstrap variables

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;
