$primary-color: #55C4F5;
$secondary-color: #2E8CB5;
$sans-serif-font: 'Open Sans Condensed', sans-serif;
$serif-font: 'Lora', serif;

// Bootstrap variables

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;
